<%= render partial: "shared/navbar", locals: { location: 'NEW TRANSACTION'} %>

<div class="form_category">
  <%= form_with model: @transaction, url: category_transactions_path  do |f| %>

    <div class="form_inputs">
      <div>
        <%= f.text_field :name, placeholder: "Name", class: "input"%>
      </div>

      <div>
        <%= f.number_field :amount, placeholder: "Price", class: "input"%>
      </div>
      <div class="select_category">
        <%= f.label "select the category(s)", class: "category_header"%>
        <%= f.label "Press ctrl to select multiple", class: "category_info"%>
        <%= f.collection_select :category_ids, Category.all, :id, :name, {multiple: true, class: "input"} %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Add", class: "sign"%>
    </div>
  <% end %>
</div>
